config SHIELD_CRPD_DONGLE
    def_bool $(shields_list_contains,crpd_dongle)

config SHIELD_CRPD_CENTRAL_LEFT
    def_bool $(shields_list_contains,crpd_central_left)

config SHIELD_CRPD_LEFT
    def_bool $(shields_list_contains,crpd_left)

config SHIELD_CRPD_RIGHT
    def_bool $(shields_list_contains,crpd_right)