if SHIELD_CRPD_DONGLE || SHIELD_CRPD_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CRPD_DONGLE || SHIELD_CRPD_CENTRAL_LEFT || SHIELD_CRPD_LEFT || SHIELD_CRPD_RIGHT

config ZMK_SPLIT
    default y

endif