draw_config:
  key_w: 60.0
  key_h: 56.0
  split_gap: 30.0
  combo_w: 28.0
  combo_h: 26.0
  key_rx: 6.0
  key_ry: 6.0
  n_columns: 1
  separate_combo_diagrams: false
  combo_diagrams_scale: 2
  inner_pad_w: 2.0
  inner_pad_h: 2.0
  outer_pad_w: 30.0
  outer_pad_h: 56.0
  line_spacing: 1.2
  arc_radius: 6.0
  append_colon_to_layer_header: true
  small_pad: 2.0
  legend_rel_x: 0.0
  legend_rel_y: 0.0
  draw_key_sides: false
  key_side_pars:
    rel_x: 0
    rel_y: 4
    rel_w: 12
    rel_h: 12
    rx: 4
    ry: 4
  svg_style: |
    /* inherit to force styles through use tags */
    svg path {
        fill: inherit;
    }

    /* font and background color specifications */
    svg.keymap {
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
        font-size: 14px;
        font-kerning: normal;
        text-rendering: optimizeLegibility;
        fill: #24292e;
    }

    /* default key styling */
    rect.key {
        fill: #f6f8fa;
        stroke: #c9cccf;
        stroke-width: 1;
    }

    /* default key side styling, only used is draw_key_sides is set */
    rect.side {
        filter: brightness(90%);
    }

    /* color accent for combo boxes */
    rect.combo, rect.combo-separate {
        fill: #cdf;
    }

    /* color accent for held keys */
    rect.held, rect.combo.held {
        fill: #fdd;
    }

    /* color accent for ghost (optional) keys */
    rect.ghost, rect.combo.ghost {
        stroke-dasharray: 4, 4;
        stroke-width: 2;
    }

    text {
        text-anchor: middle;
        dominant-baseline: middle;
    }

    /* styling for layer labels */
    text.label {
        font-weight: bold;
        text-anchor: start;
        stroke: white;
        stroke-width: 2;
        paint-order: stroke;
    }

    /* styling for combo tap, and key hold/shifted label text */
    text.combo, text.hold, text.shifted {
        font-size: 11px;
    }

    text.hold {
        text-anchor: middle;
        dominant-baseline: auto;
    }

    text.shifted {
        text-anchor: middle;
        dominant-baseline: hanging;
    }

    /* styling for hold/shifted label text in combo box */
    text.combo.hold, text.combo.shifted {
        font-size: 8px;
    }

    /* lighter symbol for transparent keys */
    text.trans {
        fill: #7b7e81;
    }

    /* styling for combo dendrons */
    path.combo {
        stroke-width: 1;
        stroke: gray;
        fill: none;
    }

    /* Start Tabler Icons Cleanup */
    /* cannot use height/width with glyphs */
    .icon-tabler > path {
        fill: inherit;
        stroke: inherit;
        stroke-width: 2;
    }
    /* hide tabler's default box */
    .icon-tabler > path[stroke="none"][fill="none"] {
        visibility: hidden;
    }
    /* End Tabler Icons Cleanup */
  svg_extra_style: ''
  shrink_wide_legends: 7
  glyph_tap_size: 14
  glyph_hold_size: 12
  glyph_shifted_size: 10
  glyphs: {}
  glyph_urls:
    tabler: https://unpkg.com/@tabler/icons/icons/{}.svg
    mdi: https://raw.githubusercontent.com/Templarian/MaterialDesign-SVG/master/svg/{}.svg
    mdil: https://raw.githubusercontent.com/Pictogrammers/MaterialDesignLight/master/svg/{}.svg
    material: https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/{}/default/48px.svg
  use_local_cache: true
parse_config:
  preprocess: true
  skip_binding_parsing: false
  raw_binding_map:
    "&bootloader": "Boot"
    "&sys_reset": "Reset"
    "&mkp LCLK": "$$mdi:mouse-left-click$$"
    "&mkp RCLK": "$$mdi:mouse-right-click$$"
    "&mkp MCLK": "$$mdi:mouse-scroll-wheel$$"
    "&msc SCRL_LEFT": '$$mdi:transfer-left$$'
    "&msc SCRL_RIGHT": '$$mdi:transfer-right$$'
    "&msc SCRL_UP": '$$mdi:transfer-up$$'
    "&msc SCRL_DOWN": '$$mdi:transfer-down$$'
    "&mmv MOVE_LEFT": "$$mdi:arrow-left-bold-outline$$"
    "&mmv MOVE_RIGHT": "$$mdi:arrow-right-bold-outline$$"
    "&mmv MOVE_UP": "$$mdi:arrow-up-bold-outline$$"
    "&mmv MOVE_DOWN": "$$mdi:arrow-down-bold-outline$$"
    "&caps_word": "$$mdi:keyboard-caps$$"
    "&s_mouse": "$$mdi:mouse-outline$$"
    "&u_macro_s_bt_sel_0": "Clr BT 0"   
    "&u_macro_s_bt_sel_1": "Clr BT 1"
    "&u_macro_s_bt_sel_2": "Clr BT 2"
    "&u_macro_s_bt_sel_3": "Clr BT 3"
    "&u_macro_s_bt_sel_4": "Clr BT 4"
    "&to 7": "$$mdi:controller$$"
    "&to 0": "$$mdi:controller-off$$"
    "&sys_reset": "$$mdi:cog-refresh$$"
    "&bootloader": "$$mdi:chip$$"
  sticky_label: sticky
  toggle_label: toggle
  trans_legend:
    t: "$$mdi:menu-down-outline$$"
    type: trans
  mark_alternate_layer_activators: false
  zmk_remove_keycode_prefix: ['KP_', 'C_', 'K_']
  zmk_keycode_map:
    EXCLAMATION: '!'
    EXCL: '!'
    AT_SIGN: '@'
    AT: '@'
    BSPC: '$$mdi:backspace-outline$$'
    DEL: '$$mdi:backspace-reverse-outline$$'
    RET: '$$mdi:keyboard-return$$'
    SPACE: '$$mdi:keyboard-space$$'
    ESC: '$$mdi:keyboard-esc$$'
    TAB: '$$mdi:keyboard-tab$$'
    LGUI: '$$mdi:apple-keyboard-command$$'
    LALT: '$$mdi:apple-keyboard-option$$'
    LCTRL: '$$mdi:apple-keyboard-control$$'
    LSHFT: '$$mdi:apple-keyboard-shift$$'
    RGUI: '$$mdi:apple-keyboard-command$$'
    RALT: '$$mdi:apple-keyboard-option$$'
    RCTRL: '$$mdi:apple-keyboard-control$$'
    RSHFT: '$$mdi:apple-keyboard-shift$$'
    BRI_DN: '$$mdi:brightness-5$$'
    BRI_UP: '$$mdi:brightness-7$$'
    VOL_DN: '$$mdi:volume-medium$$'
    VOL_UP: '$$mdi:volume-high$$'
    PREVIOUS: '$$mdi:skip-previous$$'
    NEXT: '$$mdi:skip-next$$'
    PLAY_PAUSE: '$$mdi:play-pause$$'
    MUTE: '$$mdi:volume-variant-off$$'
    LEFT: '$$mdi:arrow-left-bold$$'
    DOWN: '$$mdi:arrow-down-bold$$'
    UP: '$$mdi:arrow-up-bold$$'
    RIGHT: '$$mdi:arrow-up-bold$$'
    PG_UP: 'Page Up'
    PG_DN: 'Page Down'
    HOME: 'Home'
    END: 'End'
    GLOBE: '$$mdi:web$$'
    HASH: '#'
    POUND: '#'
    DOLLAR: $
    DLLR: $
    PERCENT: '%'
    PRCNT: '%'
    CARET: ^
    AMPERSAND: '&'
    AMPS: '&'
    ASTERISK: '*'
    ASTRK: '*'
    STAR: '*'
    LEFT_PARENTHESIS: (
    LPAR: (
    RIGHT_PARENTHESIS: )
    RPAR: )
    EQUAL: '='
    PLUS: +
    MINUS: '-'
    UNDERSCORE: _
    UNDER: _
    SLASH: /
    FSLH: /
    QUESTION: '?'
    QMARK: '?'
    BACKSLASH: \
    BSLH: \
    PIPE: '|'
    NON_US_BACKSLASH: \
    PIPE2: '|'
    NON_US_BSLH: '|'
    SEMICOLON: ;
    SEMI: ;
    COLON: ':'
    SINGLE_QUOTE: ''''
    SQT: ''''
    APOSTROPHE: ''''
    APOS: ''''
    DOUBLE_QUOTES: '"'
    DQT: '"'
    COMMA: ','
    LESS_THAN: <
    LT: <
    PERIOD: .
    DOT: .
    GREATER_THAN: '>'
    GT: '>'
    LEFT_BRACKET: '['
    LBKT: '['
    LEFT_BRACE: '{'
    LBRC: '{'
    RIGHT_BRACKET: ']'
    RBKT: ']'
    RIGHT_BRACE: '}'
    RBRC: '}'
    GRAVE: '`'
    TILDE: '~'
    NON_US_HASH: '#'
    NUHS: '#'
    TILDE2: '~'
  zmk_combos: 
    combo_bas_inner_thmbs: {"align": "top", "offset": 0.5}
    combo_gm_inner_thmbs: {"align": "top", "offset": 0.5}
    combo_bas_mid_thmbs: {"align": "bottom", "offset": 0.8}
    combo_bas_outer_thmbs: {"align": "bottom", "offset": 1.5}
