#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/*                                      42 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────────┬────────────────────────╮ ╭─────────────────────────┬─────────────────────────╮
  │  0   1   2   3   4   5 │  6   7   8   9  10  11 │ │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
  │ 12  13  14  15  16  17 │ 18  19  20  21  22  23 │ │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
  │ 24  25  26  27  28  29 │ 30  31  32  33  34  35 │ │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
  ╰───────────╮ 36  37  38 │ 39  40  41 ╭───────────╯ ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
              ╰────────────┴────────────╯                         ╰─────────────┴─────────────╯             */

/* left-top row */
#define LT0  5
#define LT1  4
#define LT2  3
#define LT3  2
#define LT4  1
#define LT5  0
/* right-top row */
#define RT0  6
#define RT1  7
#define RT2  8
#define RT3  9
#define RT4 10
#define RT5 11
/* left-middle row */
#define LM0 17
#define LM1 16
#define LM2 15
#define LM3 14
#define LM4 13
#define LM5 12
/* right-middle row */
#define RM0 18
#define RM1 19
#define RM2 20
#define RM3 21
#define RM4 22
#define RM5 23
/* left-bottom row */
#define LB0 29
#define LB1 28
#define LB2 27
#define LB3 26
#define LB4 25
#define LB5 24
/* right-bottom row */
#define RB0 30
#define RB1 31
#define RB2 32
#define RB3 33
#define RB4 34
#define RB5 35
/* thumbs */
#define LH0 38
#define LH1 37
#define LH2 36
#define RH0 39
#define RH1 40
#define RH2 41

/* mouse settings moved from mouse.dtsi */
#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1500
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20

&mmv {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <1500>;
    delay-ms = <0>;
};

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <40>;
    delay-ms = <0>;
};

/* movement shortcuts */
#define MV_D MOVE_DOWN
#define MV_U MOVE_UP
#define MV_L MOVE_LEFT
#define MV_R MOVE_RIGHT

/* scroll shortcuts */
#define SC_U SCRL_UP
#define SC_D SCRL_DOWN
#define SC_L SCRL_LEFT
#define SC_R SCRL_RIGHT

#define QUICK_TAP_MS 175

#define _v_ &trans
#define ___ &none

#define SC SEMICOLON

/* HRMS helpers moved from hrms.dtsi */
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2

// left-hand keys
#define KEYS_L \
     LT5 LT4 LT3 LT2 LT1 LT0 \
     LM5 LM4 LM3 LM2 LM1 LM0 \
     LB5 LB4 LB3 LB2 LB1 LB0
/* ╰───────────╮ LH2 LH1 LH0 │
               ╰─────────────╯ */

// right-hand keys
#define KEYS_R \
     RT0 RT1 RT2 RT3 RT4 RT5 \
     RM0 RM1 RM2 RM3 RM4 RM5 \
     RB0 RB1 RB2 RB3 RB4 RB5
/* │ RH0 RH1 RH2 ╭───────────╯
   ╰─────────────╯ */

/* left-hand and right-hand HRMs */
/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <5000>;
            quick-tap-ms = <QUICK_TAP_MS>;
            require-prior-idle-ms = <260>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
        };
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <5000>;
            quick-tap-ms = <QUICK_TAP_MS>;
            require-prior-idle-ms = <260>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
        };
    };
};

/* short layer names */
#define BAS 0
#define SM 1
#define NM 2
#define FUN 3
#define NV 4
#define MOS 5
#define CFG 6
#define GM 7
#define GMN 8


// layer-tap config
&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
};


// shift macros for BT contorls
/ {
    macros {
        u_macro_s_bt_sel_0: u_macro_s_bt_sel_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
        };
    };
};
/ {
    behaviors {
        s_bt_sel_0: s_bt_sel_0 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&u_macro_s_bt_sel_0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    macros {
        u_macro_s_bt_sel_1: u_macro_s_bt_sel_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
        };
    };
};
/ {
    behaviors {
        s_bt_sel_1: s_bt_sel_1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&u_macro_s_bt_sel_1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    macros {
        u_macro_s_bt_sel_2: u_macro_s_bt_sel_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
        };
    };
};
/ {
    behaviors {
        s_bt_sel_2: s_bt_sel_2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&u_macro_s_bt_sel_2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    macros {
        u_macro_s_bt_sel_3: u_macro_s_bt_sel_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
        };
    };
};
/ {
    behaviors {
        s_bt_sel_3: s_bt_sel_3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&u_macro_s_bt_sel_3>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    macros {
        u_macro_s_bt_sel_4: u_macro_s_bt_sel_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 4 &bt BT_CLR>;
        };
    };
};
/ {
    behaviors {
        s_bt_sel_4: s_bt_sel_4 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&u_macro_s_bt_sel_4>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

// shift macros for sym layer
/ {
    behaviors {
        s_qm_excl: s_qm_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_min_pls: s_min_pls {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp PLUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_hsh_ast: s_hsh_ast {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp HASH>, <&kp ASTERISK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_lbkt_lbrs: s_lbkt_lbrs {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp LEFT_BRACE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_lpar_lt: s_lpar_lt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp LESS_THAN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_car_pc: s_car_pc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp CARET>, <&kp PERCENT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_sqt_dql: s_sqt_dql {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_slh_bslh: s_slh_bslh {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_pip_unscr: s_pip_unscr {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp UNDERSCORE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_rpar_gt: s_rpar_gt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RPAR>, <&kp GREATER_THAN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_rbkt_rbrs: s_rbkt_rbrs {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET>, <&kp RIGHT_BRACE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_dlr_grv: s_dlr_grv {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOLLAR>, <&kp GRAVE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_eq_tld: s_eq_tld {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp TILDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_at_amp: s_at_amp {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AT_SIGN>, <&kp AMPERSAND>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
/ {
    behaviors {
        s_col_scol: s_col_scol {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMICOLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};


/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use require-prior-idle-ms for combos
#define COMBO_TERM_FAST 18

#define RMMOD RGUI
#define LMMOD LGUI
#define RSMOD RCTRL
#define LSMOD LCTRL

/* Horizontal combos - thumbs */
/ {
    combos {
        compatible = "zmk,combos";
        combo_bas_inner_thmbs {
            timeout-ms = <COMBO_TERM_FAST>;
            bindings = <&to GM>;
            key-positions = <LH0 RH0>;
            layers = <BAS>;
            require-prior-idle-ms = <0>;
        };
        combo_gm_inner_thmbs {
            timeout-ms = <COMBO_TERM_FAST>;
            bindings = <&to BAS>;
            key-positions = <LH0 RH0>;
            layers = <GM>;
            require-prior-idle-ms = <0>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";
        layer_BASE {
            display-name = "BASE";
            bindings = <
//╭.............┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
    &kp BSLH      &kp Q         &kp W         &kp E         &kp R         &kp T           &kp Y         &kp U         &kp I         &kp O         &kp P         &kp LBKT
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    &kp CAPS      &hml LSMOD A  &hml LALT S   &hml LMMOD D  &hml LSHFT F  &kp G           &kp H         &hmr RSHFT J  &hmr RMMOD K  &hmr RALT L   &hmr RSMOD SC &kp SQT
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    ___           &kp Z         &kp X         &kp C         &hml GLOBE V  &kp B           &kp N         &hmr GLOBE M  &kp COMMA     &kp DOT       &kp FSLH      &kp RBKT
//╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                              &lt MOS ESC   &lt NV TAB    &lt SM SPACE    &lt NM RET    &lt FUN BSPC   &lt CFG DEL
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        layer_SYM {
            display-name = "SYM";
            bindings = <
//╭.............┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
    ___           ___           ___           ___           ___           ___             &s_qm_excl    &s_lbkt_lbrs  &s_sqt_dql    &s_rbkt_rbrs  &s_eq_tld     ___
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    ___           &kp LSMOD     &kp LALT      &kp LMMOD     &kp LSHFT     ___             &s_min_pls    &s_lpar_lt    &s_slh_bslh   &s_rpar_gt    &s_at_amp     ___
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    ___           ___           ___           ___           &kp GLOBE     ___             &s_hsh_ast    &s_car_pc     &s_pip_unscr  &s_dlr_grv    &s_col_scol   ___
//╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                              &kp ESC       &kp TAB       ___             ___           &kp BSPC      &kp DEL
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        layer_NUM {
            display-name = "NUM";
            bindings = <
//╭.............┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
    ___           &kp N1        &kp N2        &kp N3        &kp N4        ___             ___           ___           ___           ___           ___           ___
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    ___           &kp N5        &kp N6        &kp N7        &kp N8        ___             ___           &kp RSHFT     &kp RMMOD     &kp RALT      &kp RSMOD      ___
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    ___           &kp N9        &kp N0        &kp MINUS     &kp EQUAL     ___             ___           &kp GLOBE     ___           ___           ___           ___
//╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                              ___           ___           &kp SPACE       ___           &kp BSPC      &kp DEL
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        layer_FN {
            display-name = "FN";
            bindings = <
//╭.............┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
    ___           &kp F1        &kp F2        &kp F3        &kp F4        ___             ___           ___           ___           ___           ___           ___
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    ___           &kp F5        &kp F6        &kp F7        &kp F8        ___             ___           &kp RSHFT     &kp RMMOD     &kp RALT      &kp RSMOD      ___
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    ___           &kp F9        &kp F10       &kp F11       &kp F12       ___             ___           &kp GLOBE     ___           ___           ___           ___
//╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                              &kp ESC       ___           ___             ___           ___           ___
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        layer_NAV {
            display-name = "NAV";
            bindings = <
 //╭............─┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
     ___           ___           ___           ___           ___           ___             ___           &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       ___
 //├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
     ___           &kp LSMOD     &kp LALT      &kp LMMOD     &kp LSHFT     ___             &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     ___           ___
 //├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
     ___           ___           ___           ___           &kp GLOBE     ___             ___           ___           ___           ___           ___           ___
 //╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                               ___           ___           ___             ___           &kp BSPC      &kp DEL
 //                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        layer_MOUSE {
            display-name = "MOUSE";
            bindings = <
 //╭.............┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
     ___           ___           ___           ___           ___           ___             ___           &msc SC_L     &msc SC_D     &msc SC_U     &msc SC_R     ___
 //├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
     ___           &kp LSMOD     &kp LALT      &kp LMMOD     &kp LSHFT     ___             &mmv MV_L     &mmv MV_D     &mmv MV_U     &mmv MV_R     ___           ___
 //├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
     ___           ___           ___           ___           ___           ___             ___           ___           ___           ___           ___           ___
 //╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                               ___           ___           ___             &mkp LCLK     &mkp RCLK     &mkp MCLK
 //                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        layer_CONF {
            display-name = "CONF";
            bindings = <
 //╭.............┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
     &kp C_NEXT    &s_bt_sel_0   &s_bt_sel_1   &s_bt_sel_2   &s_bt_sel_3   &s_bt_sel_4     ___           ___           ___           ___           ___           ___
 //├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
     &kp C_PP      &kp C_BRI_DN  &kp C_BRI_UP  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE      ___           &kp RSHFT     &kp RMMOD     &kp RALT      &kp RSMOD      ___
 //├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
     &kp C_PREV    ___           ___           ___           &bootloader   &sys_reset      &sys_reset    &bootloader   ___           ___           ___           ___
 //╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                               ___           ___           ___             ___           ___           ___
 //                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        layer_GAME {
            display-name = "GAME";
            bindings = <
//╭.............┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
    &kp ESC       &kp Q         &kp W         &kp E         &kp R         &kp T           &kp Y         &kp U         &kp I         &kp O         &kp P         ___
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    &kp TAB       &kp A         &kp S         &kp D         &kp F         &kp G           &kp H         &kp J         &kp K         &kp L         &kp SC        ___
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B           &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      ___
//╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                              &kp LALT       &kp LCTRL    &kp SPACE       &kp RET       &kp BSPC      &mo GMN
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
        layer_GAME_N {
            display-name = "GAME_N";
            bindings = <
//╭.............┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬.............╮
    _v_           &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6        &kp N7        &kp N8         &kp N9        &kp N0       _v_
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    _v_           _v_           _v_           _v_           _v_           _v_             _v_           _v_           _v_            _v_           _v_          _v_
//├.............┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼.............┤
    _v_           _v_           _v_           _v_           _v_           _v_             _v_           _v_           _v_            _v_           _v_          _v_
//╰.............┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴.............╯
                                              _v_           _v_           _v_             _v_           _v_           _v_
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
