if SHIELD_PROSPECTOR_DONGLE

config ZMK_KEYBOARD_NAME
    default "Prospector"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_PROSPECTOR_LEFT || SHIELD_PROSPECTOR_RIGHT || SHIELD_PROSPECTOR_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
